In [2]:
import pandas as pd

In [6]:
adf=pd.read_csv("C:\\Users\\miles\\Downloads\\Airports.csv",usecols=['Airport', 'Code', 'Location', 'Country'])
adf.columns

Index(['Airport', 'Code', 'Location', 'Country'], dtype='object')

In [7]:
adf.isnull()

    Airport   Code  Location  Country
0     False  False     False    False
1     False  False     False    False
2     False  False     False    False
3     False  False     False    False
4     False  False     False    False
..      ...    ...       ...      ...
95    False  False     False    False
96    False  False     False    False
97    False  False     False    False
98    False  False     False    False
99    False  False     False    False

[100 rows x 4 columns]

In [8]:
adf.dropna(inplace = True)

In [9]:
adf.shape

(100, 4)

In [10]:
adf.head(10)

,Airport,Code,Location,Country
0,Hartsfield–Jackson Atlanta International Airport,ATL,Atlanta,United States
1,Beijing Capital International Airport,PEK,Beijing,China
2,Dubai International Airport,DXB,Dubai,United Arab Emirates
3,Los Angeles International Airport,LAX,Los Angeles,United States
4,O'Hare International Airport,ORD,Chicago,United States
5,Heathrow Airport,LHR,London,United Kingdom
6,Haneda Airport,HND,Tokyo,Japan
7,Hong Kong International Airport,HKG,Hong Kong,Hong Kong
8,Shanghai Pudong International Airport,PVG,Shanghai,China
9,Charles de Gaulle International Airport,CDG,Paris,France

In [13]:
airportsdf=adf.iloc[:, [1,0,2,3]]
airportsdf.head(3)

,Code,Airport,Location,Country
0,ATL,Hartsfield–Jackson Atlanta International Airport,Atlanta,United States
1,PEK,Beijing Capital International Airport,Beijing,China
2,DXB,Dubai International Airport,Dubai,United Arab Emirates

In [14]:
airportsdf.to_csv("C:\\Users\\miles\\Downloads\\Airportsf.csv")

In [17]:
ardf=pd.read_csv("C:\\Users\\miles\\Downloads\\Airportsf.csv")
insertscript=ardf.values.tolist()
#print(insertscript)

In [19]:
max_seats={
"ATR 42": 46 ,
"ATR 72": 70  ,
"Airbus A220": 110 ,
"Airbus A300": 255  ,
"Airbus A380": 853  ,
"Boeing 717": 106  ,
"Boeing 757": 239  ,
"Boeing 767": 181  ,
"Boeing 777": 314  ,
"Boeing 787": 242 ,
"Cessna 208": 9 ,
"Cessna 404": 10 , 
"Convair CV5800": 50,  
"Dornier 328": 30,
"Embraer 170": 70 , 
"Embraer 175": 78  ,
"Embraer 190": 96  ,
"Embraer 195": 114  ,
"Fokker 70": 70,
"Fokker 100": 100,  
"IPTN N-250": 70  ,
"Piper T-1040": 10 , 
"Short 330": 33  ,
"Short 360": 36,
"Saab 2000": 50 ,
}

In [ ]:
Airplanedf=[]
for airlines_id in ("ANZ","EM","EVA","JAL","KA","LA","QA","SA","TA","VA"):
    for airplane_model in max_seats.keys():
        for j in range(1,5):
            airplane_no=airlines_id+max_seats[airplane_model]+str(j)
            Airplanedf.append([airplane_no,max_seats[airplane_model],airlines_id,airplane_model])